// scss code here
@use "./mixins";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	@include mixins.flexCenter(row);
	justify-content: space-between;
	h1 {
		margin: 2vh 5vw;
	}
	nav {
		margin: 2vh 5vw;
		ul {
			@include mixins.flexCenter(row);
			list-style-type: none;
			gap: 2vw;
			li {
				&:hover {
					color: red;
					cursor: pointer;
				}
			}
		}
	}
}

@include mixins.responsive-sm {
	section {
		menu {
			@include mixins.flexCenter(column);
			article {
				@include mixins.flexCenter(column);
				margin: 3vh;
				figcaption h4 {
					text-align: center;
				}
			}
		}
	}
	footer {
		@include mixins.flexCenter(row);
		.helpers {
			ul {
				grid-template-columns: repeat(2, 20vw);
				gap: 1vh;
			}
		}
	}
}
@include mixins.responsive-md {
	section {
		menu {
			@include mixins.flexCenter(row);
			article {
				@include mixins.flexCenter(row);
                gap: 1vw;
			}
		}
	}
	footer {
		@include mixins.flexCenter(row);
		.helpers {
			ul {
				grid-template-columns: repeat(2, 15vw);
				gap: 2vh;
			}
		}
	}
}
@include mixins.responsive-lg {
	section {
		menu {
			@include mixins.flexCenter(column);
			article {
                width: 100%;
				@include mixins.flexCenter(row);
                gap: 2vw;
			}
		}
	}
	footer {
		@include mixins.flexCenter(row);
		.helpers {
			ul {
				grid-template-columns: repeat(2, 15vw);
				gap: 2vh;
			}
		}
	}
}

@include mixins.responsive-xl {
	section {
		menu {
			@include mixins.flexCenter(row);
			article {
				@include mixins.flexCenter(column);
			}
		}
	}
	footer {
		@include mixins.flexCenter(row);
		.helpers {
			ul {
				grid-template-columns: repeat(2, 15vw);
				gap: 2vh;
			}
		}
	}
}

section {
	padding: 2vh 0;
	@include mixins.flexCenter(column);
	margin-bottom: 5vh;
	h3 {
		letter-spacing: 0.15em;
		font-size: 4vh;
	}
	menu {
        width: 100%;
		article {
			figure {
				img {
					height: 40vh;
				}
				figcaption {
					font-size: 3vh;
					span {
						color: red;
					}
				}
			}
			button {
				height: 6vh;
				&:hover {
					background-color: beige;
				}
				img {
					height: 6vh;
				}
			}
		}
	}
}

.section1 {
	background-color: aliceblue;
}

.section2 {
	background-color: antiquewhite;
}

footer {
	justify-content: space-around;
	padding: 2vh;
	background: black;
	color: white;
	ul {
		display: grid;
		list-style-type: none;
	}
}
