* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
header h1 {
  margin: 2vh 5vw;
}
header nav {
  margin: 2vh 5vw;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  gap: 2vw;
}
header nav ul li:hover {
  color: red;
  cursor: pointer;
}

@media (min-width: 360px) {
  section menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  section menu article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3vh;
  }
  section menu article figcaption h4 {
    text-align: center;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  footer .helpers ul {
    grid-template-columns: repeat(2, 20vw);
    gap: 1vh;
  }
}
@media (min-width: 660px) {
  section menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  section menu article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  footer .helpers ul {
    grid-template-columns: repeat(2, 15vw);
    gap: 2vh;
  }
}
@media (min-width: 740px) {
  section menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  section menu article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2vw;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  footer .helpers ul {
    grid-template-columns: repeat(2, 15vw);
    gap: 2vh;
  }
}
@media (min-width: 1000px) {
  section menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  section menu article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  footer .helpers ul {
    grid-template-columns: repeat(2, 15vw);
    gap: 2vh;
  }
}
section {
  padding: 2vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5vh;
}
section h3 {
  letter-spacing: 0.15em;
  font-size: 4vh;
}
section menu {
  width: 100%;
}
section menu article figure img {
  height: 40vh;
}
section menu article figure figcaption {
  font-size: 3vh;
}
section menu article figure figcaption span {
  color: red;
}
section menu article button {
  height: 6vh;
}
section menu article button:hover {
  background-color: beige;
}
section menu article button img {
  height: 6vh;
}

.section1 {
  background-color: aliceblue;
}

.section2 {
  background-color: antiquewhite;
}

footer {
  justify-content: space-around;
  padding: 2vh;
  background: black;
  color: white;
}
footer ul {
  display: grid;
  list-style-type: none;
}/*# sourceMappingURL=style.css.map */