* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
header h1 {
  margin: 2vh 5vw;
}
header nav {
  margin: 2vh 5vw;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  gap: 2vw;
}
header nav ul li:hover {
  color: red;
  cursor: pointer;
}

section {
  margin-bottom: 5vh;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.section1 input {
  padding: 0 1vw;
  border-radius: 10px;
  width: 50vw;
  height: 5vh;
}

@media (min-width: 360px) {
  .section2 menu,
  .section3 menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section2 menu article,
  .section3 menu article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3vh;
  }
  .section2 menu article figcaption h4,
  .section3 menu article figcaption h4 {
    text-align: center;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  footer .helpers ul {
    grid-template-columns: repeat(2, 20vw);
    gap: 1vh;
  }
}
@media (min-width: 660px) {
  .section2 menu,
  .section3 menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .section2 menu article,
  .section3 menu article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
  }
  .section4 menu {
    grid-template-columns: repeat(4, 20vw);
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  footer .helpers ul {
    grid-template-columns: repeat(2, 15vw);
    gap: 2vh;
  }
}
@media (min-width: 740px) {
  .section2 menu,
  .section3 menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section2 menu article,
  .section3 menu article {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2vw;
  }
  .section4 menu {
    grid-template-columns: repeat(2, 45vw);
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  footer .helpers ul {
    grid-template-columns: repeat(2, 15vw);
    gap: 2vh;
  }
}
@media (min-width: 1000px) {
  .section2 menu,
  .section3 menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .section2 menu article,
  .section3 menu article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  footer .helpers ul {
    grid-template-columns: repeat(2, 15vw);
    gap: 2vh;
  }
  .section4 menu {
    grid-template-columns: repeat(4, 23vw);
  }
}
.section2,
.section3 {
  padding: 2vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section2 h3,
.section3 h3 {
  letter-spacing: 0.15em;
  font-size: 4vh;
}
.section2 menu,
.section3 menu {
  width: 100%;
}
.section2 menu article figure img,
.section3 menu article figure img {
  height: 40vh;
}
.section2 menu article figure figcaption,
.section3 menu article figure figcaption {
  font-size: 3vh;
}
.section2 menu article figure figcaption span,
.section3 menu article figure figcaption span {
  color: red;
}
.section2 menu article button,
.section3 menu article button {
  height: 6vh;
}
.section2 menu article button:hover,
.section3 menu article button:hover {
  background-color: beige;
}
.section2 menu article button img,
.section3 menu article button img {
  height: 6vh;
}

.section2 {
  background-color: aliceblue;
}

.section3 {
  background-color: antiquewhite;
}

.section4 {
  padding: 2vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
}
.section4 h3 {
  letter-spacing: 0.15em;
  font-size: 4vh;
}
.section4 menu {
  display: grid;
  justify-items: center;
  row-gap: 2vh;
}
.section4 menu img {
  height: 35vh;
}
.section4 menu img:hover {
  scale: 1.05;
  cursor: pointer;
}

footer {
  justify-content: space-around;
  padding: 2vh;
  background: black;
  color: white;
}
footer ul {
  display: grid;
  list-style-type: none;
}
footer ul a {
  color: white;
  text-decoration: none;
}
footer ul a:hover {
  border-bottom: 1px solid white;
}/*# sourceMappingURL=style.css.map */